name: Build M14x Kernel
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Install Build Essentials
        run: |
          sudo apt-get update
          sudo apt-get install -y bc build-essential flex bison libssl-dev libelf-dev clang llvm lld libncurses-dev

      - name: Setup Clang Toolchain
        run: |
          git clone --depth=1 https://github.com/LineageOS/android_prebuilts_clang_kernel_linux-x86_clang-r416183b clang
          echo "$(pwd)/clang/bin" >> $GITHUB_PATH

      - name: Build Kernel
        run: |
          export ARCH=arm64
          export SUBARCH=arm64
          export CROSS_COMPILE=aarch64-linux-gnu-
          export CROSS_COMPILE_ARM32=arm-linux-gnueabi-
          export CC=clang
          export CLANG_TRIPLE=aarch64-linux-gnu-
          
          # Using the exact config you found
          make O=out s5e8535-m14xnsxx_defconfig
          make -j$(nproc) O=out
        
      - name: Upload Kernel
        uses: actions/upload-artifact@v4
        with:
          name: M14x-Permissive-Kernel
          path: out/arch/arm64/boot/Image.gz-dtb
          
